header {
  text-align: center;
  line-height: 50px;
}
ul {
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 10px;
  width: 400px;
  padding: 20px;
}
ul li {
  list-style-type: none;
  margin: 10px;
  display: flex;
  border-radius: 10px;
  text-indent: 10px;
}

ul li span {
  flex: 1;
  font: bold 10px;
  
}

.fengexian {
  height : 1px;
  border-width: 0.5px;
  list-style-type: none;
  display: flex;
  border-bottom: solid rgba(0, 0, 0, 0.384);
}

.add{
  width: 80px;
  height: 30px;
  color: black;
  background-color: transparent;
  border-radius: 15px;
  margin-left: 20px;
  outline: none;
}

.delete, .complete{
  width: 20px;
  height: 20px;
  color: black;
  background-color: rgb(243, 222, 222);
  border-radius: 20px;
  border: none;
  margin-left: 10px;
  outline: none;
  text-indent: -1px;
  position: relative;
  
}


header {
  position: relative;
  margin: 0 auto;
  line-height: 30px;
  height: 80px;
  width: 450px;
  box-sizing: border-box;
  padding: 20px 10px 20px 10px;
}
header input {
  height: 24px;
  width: 320px;
  border-radius: 15px;
  outline: none;
  border: 1px solid silver;
  text-indent: 5px;
}


